<style>
  .ui-datepicker {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Adjust z-index as needed */
  }
</style>

{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" defer="defer"></script>

<div id="datepicker"></div>
<br>
<br>
<br>

<script>
  let pageFullyLoaded = false;

document.addEventListener('DOMContentLoaded', function() {
  document.body.addEventListener('click', function(e) {
    if ((e.target.classList.contains('todayorderbtn') || e.target.classList.contains('preorderbtn')) && !pageFullyLoaded) {
      e.preventDefault(); // Prevent navigation if page hasn't fully loaded
      // Optionally, visually indicate that the link is disabled
      e.target.style.pointerEvents = 'none';
      e.target.style.opacity = '0.5';
    } else {
      // Optionally, reset visual changes if any were made
      e.target.style.pointerEvents = '';
      e.target.style.opacity = '';
    }
  });

    const buttonTodayOrder = document.querySelector('.todayorderbtn');
    const strLocation = sessionStorage.getItem("location") || "";
    
      function toggleButton(startTime, endTime) {
          const now = new Date();
          const utcTime = now.getTime() + now.getTimezoneOffset() * 60000;
      
          // Check if daylight saving time is in effect in Germany
          const daylightSavingTimeInEffect = (now.getMonth() > 2 && now.getMonth() < 10);
          const timezoneOffset = daylightSavingTimeInEffect ? 2 : 1; // CEST: UTC+2, CET: UTC+1
      
          const timeGermany = new Date(utcTime + (3600000 * timezoneOffset));
          const currentHours = timeGermany.getHours();
          const currentMinutes = timeGermany.getMinutes();
      
          const [startHours, startMinutes] = startTime.split(':').map(Number);
          let [endHours, endMinutes] = endTime.split(':').map(Number);
      
          // Adjust for end time being 00:00 (midnight)
          if (endHours === 0 && endMinutes === 0) {
              endHours = 24;
          }
      
          const currentTimeInMinutes = currentHours * 60 + currentMinutes;
          const startTimeInMinutes = startHours * 60 + startMinutes;
          const endTimeInMinutes = endHours * 60 + endMinutes;
      
          const isWithinTimeSlot = currentTimeInMinutes >= startTimeInMinutes && currentTimeInMinutes < endTimeInMinutes;
      
          if (isWithinTimeSlot) {
              buttonTodayOrder.classList.add('show-button');
          } else {
              buttonTodayOrder.classList.remove('show-button');
          }
       }
    
      if (strLocation !== "") {
        $.ajax({
          url: `https://app.sushi.catering/getLocations/${strLocation}`,
          type: "GET",
          dataType: "json",
          success: function(data) {
            if (data.note)
              $("#note").html(data.note);
            if (data.start_time && data.end_time) {
              toggleButton(data.start_time, data.end_time);
              setInterval(() => toggleButton(data.start_time, data.end_time), 60000);
            } else if (data.error) {
              console.error('Error fetching location time:', data.error);
            }
          },
          error: function(request, status, error) {
            console.error('Error fetching location time:', error);
          }
        });
      } else {
        // Fallback if no location is set
        $("#note").html('Auffüllung täglich um 12 Uhr, Abholung bis 24 Uhr');
        const fallbackStartTime = "12:00";
        const fallbackEndTime = "23:59";
        toggleButton(fallbackStartTime, fallbackEndTime);
        setInterval(() => toggleButton(fallbackStartTime, fallbackEndTime), 60000);
      }
});

  window.onload = function() {
    pageFullyLoaded = true;
      if (window.jQuery) {
        let $ = window.jQuery;

        $(".todayorderbtn, .preorderbtn").each(function() {
          // Reset any inline styles that might have been applied to indicate disabled state
          this.style.pointerEvents = '';
          this.style.opacity = '';
        });


        var button = $(".preorderbtn");
        var buttonOffset = button.offset();

        // Calculate new top and left positions
        var newTop = buttonOffset.top + button.outerHeight();
        var newLeft = buttonOffset.left;

        // Apply the calculated positions
        $("#datepicker").datepicker('hide');

        $(".todayorderbtn").click(function(e){
          e.preventDefault();

          var href = $(this).attr("href");
          var today = new Date();
          var dd = String(today.getDate()).padStart(2, '0');
          var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
          var yyyy = today.getFullYear();

          today = dd + '-' + mm + '-' + yyyy;

          sessionStorage.setItem("date", today);

          $.ajax({
              url:"https://app.sushi.catering/updateSelectedDate/" + today,
              type:"GET",
              data:{"uuid":localStorage.getItem("uuid")},
              cache:false,
              async:false,
              dataType:"json",
              success:function(data){
                console.log(data);
                window.location.href = href + "?location=" + sessionStorage.getItem("location") + "&uuid=" + localStorage.getItem("uuid");
              },
              error: function (request, status, error) {
                  alert('set selected date error: today ');
                  console.log('set selected date error: today ',  error);
              }
          });

        });

        $(".preorderbtn").click(function(e){
            e.preventDefault();

            $("#datepicker").datepicker({
                minDate: 0,
                maxDate: '+6d',
                dateFormat: "dd-mm-yy",
                onSelect: function(dateText, inst) {
                    sessionStorage.setItem("date", dateText);

                    var newUrl = $(".preorderbtn").attr("href");

                    $.ajax({
                    	url:"https://app.sushi.catering/updateSelectedDate/" + dateText,
                    	type:"GET",
                        data:{"uuid":localStorage.getItem("uuid")},
                    	cache:false,
                        async:false,
                    	dataType:"json",
                    	success:function(data){
                          console.log(data);
                          // Redirect the user to the new URL or handle it as needed
                          window.location.href = newUrl + "?location=" + sessionStorage.getItem("location") + "&uuid=" + localStorage.getItem("uuid");
                        },
                        error: function (request, status, error) {
                            alert('set selected date error: preorder ');
                            console.log('set selected date error: preorder ',  error);
                        }
                    });

                }
            }).datepicker('show');
            $('.ui-datepicker').addClass('notranslate');
        });

     }


  }
</script>
