/*this css needs to be appended at the bottom of base.css on production */
/* mib348 */
dl .product-option:first-child{display:none;}
dl .product-option dt{text-transform: capitalize;}
#app > div:nth-child(1) > div > div > div.f1jux.fc8Jc.kZBua.mB_Id._1fragemjt._1fragemjq > div.sooyq > div.jCic4._1fragemjt._1fragemjr > div > aside > div > section > div > div:nth-child(1) > section > div._6zbcq55._1fragemk7._1fragemkd._6zbcq56 > div._6zbcq524._1fragemk7._1fragem2i._6zbcq52b > div._6zbcq53s._1fragemk7._1fragemkd._1fragemmb._1fragemkg > div > div > div > ul > li:nth-child(1){display:none;}
.header__search{display:none !important;}
html, body{overflow-x:hidden !important;}
.todayorderbtn {
    display: none !important;
}
.todayorderbtn.show-button {
    display: inline-block !important;
}
.preorderbtn {
    display: none !important;
}
.preorderbtn.show-button {
    display: inline-block !important;
}
.cart__dynamic-checkout-buttons{display:none;}