{% assign no_station = false %}
{% for line in subtotal_line_items %}
{%- for prop in line.properties -%}
  {%- if prop.first == "no_station" -%}
    {% assign no_station = prop.last %}
  {%- endif -%}
{%- endfor -%}
{%- endfor -%}

{% capture email_title %}
  {% if has_pending_payment %}
    Vielen Dank f체r deine Bestellung!
  {% else %}
    Vielen Dank f체r deinen Einkauf!     
      
      {% if no_station == "Y"  %}
      {% else %}
          
    <br>
    <br>
<style>
      @media only screen and (max-width: 600px) {
        #qrcode img {
          width: 100%;
          height: auto;
          margin: 0 auto;
        }
      }
    </style>
    Bitte scanne deinen QR-Code am Ger채t und entnehme deine Bestellung.
    <div id="qrcode" style="margin: 0 auto; text-align: center; width: 100%;padding-top:25px;padding-bottom:25px;">
       <img src="https://api.qrserver.com/v1/create-qr-code/?size=180x180&data={{order_name | remove: '#'}}" style="max-width:100%;height:auto;"/>
     </div>
<p>Dein QR-Code wird nicht angezeigt? Dann klicke den Button "Bestellung ansehen" und dein QR-Code l채dt nochmal im Browser.</p>
    {% endif %}

{% endif %}
    
{% endcapture %}




















{%- for prop in line.properties -%}
    {%- if forloop.index == 1 or forloop.index == 5 -%}
        {%- continue -%}
    {%- endif -%}
    <div>
        <span>{{ prop.first }}: </span>
        <span>{{ prop.last }}</span>
    <div>
{%- endfor -%}